@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

body {
	@apply m-0;

	font-family:
		var(--font-sans),
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		'Roboto',
		'Oxygen',
		'Ubuntu',
		'Cantarell',
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family:
		var(--font-monos), source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

:root {
	--background: oklch(1 0 0);
	--foreground: oklch(0.3138 0.0131 264.3681);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.3138 0.0131 264.3681);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.3138 0.0131 264.3681);
	--primary: oklch(0.5242 0.0956 256.9709);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.9222 0.0044 247.8716);
	--secondary-foreground: oklch(0.3182 0.0115 248.1899);
	--muted: oklch(0.9613 0.0022 247.8448);
	--muted-foreground: oklch(0.5491 0.0226 248.2392);
	--accent: oklch(0.9222 0.0044 247.8716);
	--accent-foreground: oklch(0.3182 0.0115 248.1899);
	--destructive: oklch(0.5875 0.2303 28.2622);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.8428 0.009 247.9335);
	--input: oklch(0.9222 0.0044 247.8716);
	--ring: oklch(0.4822 0.1813 259.2683);
	--chart-1: oklch(0.4822 0.1813 259.2683);
	--chart-2: oklch(0.7083 0.1139 186.4954);
	--chart-3: oklch(0.7454 0.1652 64.8097);
	--chart-4: oklch(0.5797 0.2102 312.3258);
	--chart-5: oklch(0.8471 0.1549 89.4456);
	--sidebar: oklch(0.9768 0.0013 247.8346);
	--sidebar-foreground: oklch(0.3617 0.0158 264.357);
	--sidebar-primary: oklch(0.5212 0.1808 258.5967);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.9379 0.0035 247.8606);
	--sidebar-accent-foreground: oklch(0.3671 0.0139 248.2062);
	--sidebar-border: oklch(0.8827 0.0067 247.901);
	--sidebar-ring: oklch(0.5212 0.1808 258.5967);
	--font-sans: 'Geist Mono Variable', monospace;
	--font-serif: 'Playfair Display', serif;
	--font-mono: 'Fira Code', monospace;
	--radius: 0.5rem;
	--shadow-x: 0px;
	--shadow-y: 4px;
	--shadow-blur: 10px;
	--shadow-spread: -2px;
	--shadow-opacity: 0.05;
	--shadow-color: 0 0% 0%;
	--shadow-2xs: 0px 4px 10px -2px hsl(0 0% 0% / 0.03);
	--shadow-xs: 0px 4px 10px -2px hsl(0 0% 0% / 0.03);
	--shadow-sm:
		0px 4px 10px -2px hsl(0 0% 0% / 0.05), 0px 1px 2px -3px hsl(0 0% 0% / 0.05);
	--shadow:
		0px 4px 10px -2px hsl(0 0% 0% / 0.05), 0px 1px 2px -3px hsl(0 0% 0% / 0.05);
	--shadow-md:
		0px 4px 10px -2px hsl(0 0% 0% / 0.05), 0px 2px 4px -3px hsl(0 0% 0% / 0.05);
	--shadow-lg:
		0px 4px 10px -2px hsl(0 0% 0% / 0.05), 0px 4px 6px -3px hsl(0 0% 0% / 0.05);
	--shadow-xl:
		0px 4px 10px -2px hsl(0 0% 0% / 0.05), 0px 8px 10px -3px hsl(0 0% 0% / 0.05);
	--shadow-2xl: 0px 4px 10px -2px hsl(0 0% 0% / 0.13);
	--tracking-normal: 0em;
	--spacing: 0.25rem;
}

.dark {
	--background: oklch(0.214 0.0064 248.1257);
	--foreground: oklch(0.8827 0.0067 247.901);
	--card: oklch(0.214 0.0064 248.1257);
	--card-foreground: oklch(0.8827 0.0067 247.901);
	--popover: oklch(0.214 0.0064 248.1257);
	--popover-foreground: oklch(0.8827 0.0067 247.901);
	--primary: oklch(0.6122 0.0811 256.8741);
	--primary-foreground: oklch(0.9846 0.0009 247.8294);
	--secondary: oklch(0.3182 0.0115 248.1899);
	--secondary-foreground: oklch(0.8428 0.009 247.9335);
	--muted: oklch(0.2674 0.009 248.1657);
	--muted-foreground: oklch(0.678 0.0191 248.1098);
	--accent: oklch(0.3182 0.0115 248.1899);
	--accent-foreground: oklch(0.8428 0.009 247.9335);
	--destructive: oklch(0.6333 0.2001 24.932);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.3671 0.0139 248.2062);
	--input: oklch(0.3182 0.0115 248.1899);
	--ring: oklch(0.5998 0.1786 257.7906);
	--chart-1: oklch(0.5998 0.1786 257.7906);
	--chart-2: oklch(0.7986 0.1344 185.8509);
	--chart-3: oklch(0.775 0.1634 67.5338);
	--chart-4: oklch(0.6181 0.2165 312.484);
	--chart-5: oklch(0.8723 0.1489 90.2816);
	--sidebar: oklch(0.2357 0.0075 248.1444);
	--sidebar-foreground: oklch(0.9064 0.0053 247.883);
	--sidebar-primary: oklch(0.5602 0.1755 258.0057);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.2981 0.0105 248.1814);
	--sidebar-accent-foreground: oklch(0.8827 0.0067 247.901);
	--sidebar-border: oklch(0.3956 0.0153 248.2137);
	--sidebar-ring: oklch(0.5602 0.1755 258.0057);
	--font-sans: 'Geist Mono Variable', monospace;
	--font-serif: 'Playfair Display', serif;
	--font-mono: 'Fira Code', monospace;
	--radius: 0.5rem;
	--shadow-x: 0px;
	--shadow-y: 6px;
	--shadow-blur: 12px;
	--shadow-spread: -4px;
	--shadow-opacity: 0.3;
	--shadow-color: 0 0% 0%;
	--shadow-2xs: 0px 6px 12px -4px hsl(0 0% 0% / 0.15);
	--shadow-xs: 0px 6px 12px -4px hsl(0 0% 0% / 0.15);
	--shadow-sm:
		0px 6px 12px -4px hsl(0 0% 0% / 0.3), 0px 1px 2px -5px hsl(0 0% 0% / 0.3);
	--shadow:
		0px 6px 12px -4px hsl(0 0% 0% / 0.3), 0px 1px 2px -5px hsl(0 0% 0% / 0.3);
	--shadow-md:
		0px 6px 12px -4px hsl(0 0% 0% / 0.3), 0px 2px 4px -5px hsl(0 0% 0% / 0.3);
	--shadow-lg:
		0px 6px 12px -4px hsl(0 0% 0% / 0.3), 0px 4px 6px -5px hsl(0 0% 0% / 0.3);
	--shadow-xl:
		0px 6px 12px -4px hsl(0 0% 0% / 0.3), 0px 8px 10px -5px hsl(0 0% 0% / 0.3);
	--shadow-2xl: 0px 6px 12px -4px hsl(0 0% 0% / 0.75);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
		letter-spacing: var(--tracking-normal);
	}

	button:hover {
		cursor: pointer;
	}
}
